<!doctype html>
<html>
<head>
    <title>Outhouse</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="container">

    <div class="page-header text-center">
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <h1><%= locations[0].name %></h1>
    <div id="map">
      <div>
        <h3> My Google Map</h3>
        <script>
          function initMap() {
            const lat = <%=locations[0].lat %>;
            const lng = <%=locations[0].lng %>;
            console.log(lat, lng)
            const myLatLng = { lat:lat, lng:lng};
            const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 15,
              mapId: 'e952a99f67dafb3e',
              center: myLatLng,
            });
            new google.maps.Marker({
              position: myLatLng,
              map:map,
              title: "Hello World!",
            });
          }
          window.initMap = initMap;
        </script>
      </div>
    </div>
     
    <div class="row">
      <div class="col-sm-6">
        <h3>Posts</h3>
        <ul class="locations">
        <% for(let i=0; i<locations.length; i++) {%>
          <li class="location">
            <a href="/post/<%= locations[i]._id %>"><span><%= locations[i].name %></span></a>
            <span><%= locations[i].address %></span>
            <span><%= locations[i].details %></span>
            <span><%= locations[i].thumbUp %></span>
            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
        <% } %>
        </ul>
        <div>
          <h4>Leave A Note</h4>
          <form action="/page/<%= locations[0]._id%>/comments" method="post">
            <textarea id="comments" name="comment" rows="4" cols="50"></textarea>
            <button type="submit">submit</button>
          </form>
        </div>
  
        <ul class="messages">
          <% for(let i=0; i<comments.length; i++) {%>
            <li class="message">
              <h4>
                <%= comments[i].comment %>
              </h4>
            </li>
            <% } %>
        </ul>
        
      </div>
    </div>
  </div>

  <script src="/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap&v=weekly"
      defer></script>

</body>
</html>
